.section.section-actualites
  .section-owlcarousel-item
    .container-fluid
      .row
        .col-md-6
          .block-nos-brochures
            .introduction-text
              .row
                .col-md-12
                  h2.title-section
                    span Nos brochures
                  .editor-content
            .section-nos-brochures
              .title L'Asie en individuel et sur mesure
              .owlcarousel-content
                .item
                  .block-img
                    +img('slider 1', 'images/slider-nos-brochures.png')
                  .block-info
                    .desc L’Asie est le continent des mille trésors ! Les histoires rapportées de ces contrées d’Orient par les premiers aventuriers n’ont jamais cessé d’aiguiser...
                    .link 
                      +link('CONSULTER la brochure').link-glasses
                      +link('Commander la brochure').link-mail
                .item
                  .block-img
                    +img('slider 1', 'images/slider-nos-brochures.png')
                  .block-info
                    .desc L’Asie est le continent des mille trésors ! Les histoires rapportées de ces contrées d’Orient par les premiers aventuriers n’ont jamais cessé d’aiguiser...
                    .link 
                      +link('CONSULTER la brochure').link-glasses
                      +link('Commander la brochure').link-mail
                .item
                  .block-img
                    +img('slider 1', 'images/slider-nos-brochures.png')
                  .block-info
                    .desc L’Asie est le continent des mille trésors ! Les histoires rapportées de ces contrées d’Orient par les premiers aventuriers n’ont jamais cessé d’aiguiser...
                    .link 
                      +link('CONSULTER la brochure').link-glasses
                      +link('Commander la brochure').link-mail
            .block-service
              .introduction-text
                .row
                  .col-md-12
                    h2.title-section
                      span POURQUOI PARTIR AVEC NOUS
                    .editor-content
              .row
                .col-md-12
                  .section-block-service
                    .title SERVICE DE CONCIERGERIE
                    .owlcarousel-content
                      .item
                        .block-img
                          +img('slider 1', 'images/slider-block-service.png')
                        .block-info
                          .desc Parce que depuis 20 ans, nos conseillers conjuguent leur parfaite maitrise du voyage sur-mesure à leur connaissance approfondie de nos destinations, pour vous faire vivre une expérience aussi unique qu'enrichissante, en respectant le moindre de vos désirs.
                      .item
                        .block-img
                          +img('slider 1', 'images/slider-block-service.png')
                        .block-info
                          .desc Parce que depuis 20 ans, nos conseillers conjuguent leur parfaite maitrise du voyage sur-mesure à leur connaissance approfondie de nos destinations, pour vous faire vivre une expérience aussi unique qu'enrichissante, en respectant le moindre de vos désirs.
        .col-md-6
          .block-actualites
            .introduction-text
              .row
                .col-md-12
                  h2.title-section
                    span Actualités
                  .editor-content
          .col-md-12
            .row
              .section-block-actualite
                +img('img actualite', 'images/img-actualites.png')