.filter-block
  .filter
    h2.title Actuellement en agence:
    .dropdown-list
      label(for="filterSelect") Trier par:
      +cus-select({
        opts: [
          {value: 'TousTousTousTousTousTousTousTous'},
          {value: 'Seles'},
          {value: 'Renting'},
          {value: 'Ventes'}
        ],
        name: 'filterSelect',
        id: 'filterSelect',
        dataUrl: 'data-filter',
        dataDes: '[data-filter-result] .list-items'})
    +listLink([{title: 'Date', href: 'javascript:void(0);', attr: {'data-ajax': '', 'data-ajax-des': '[data-filter-result] .list-items', 'data-ajax-url': 'data/data-filter.html', class: 'link-1'}}, {title: 'Coup de cœur', href: 'javascript:void(0);', attr: {'data-ajax': '', 'data-ajax-des': '[data-filter-result] .list-items', 'data-ajax-url': 'data/data-filter.html', class: 'link-1'}}, {title: 'Price', href: 'javascript:void(0);', attr: {'data-ajax': '', 'data-ajax-des': '[data-filter-result] .list-items', 'data-ajax-url': 'data/data-filter.html', class: 'link-1'}}, {title: 'Surface', href: 'javascript:void(0);', attr: {'data-ajax': '', 'data-ajax-des': '[data-filter-result] .list-items', 'data-ajax-url': 'data/data-filter.html', class: 'link-1'}}, {title: 'Localization', href: 'javascript:void(0);', attr: {'data-ajax': '', 'data-ajax-des': '[data-filter-result] .list-items', 'data-ajax-url': 'data/data-filter.html', class: 'link-1'}}], 1).filter-list
  .filter-result(data-filter-result)
    .list-items
      include thumbnails
    .loading.hidden: +img('loadmore', 'images/loading.gif')
    +link('Load more', 'javascript:;').link-2.right(data-ajax, data-ajax-des='[data-filter-result] .list-items', data-ajax-url='data/data-filter.html', data-load-more)
