footer#footer
	.grid: .row: .col-lg-16
		p.copyright.left Copyright @ 2014 Martel immobiler. All rights servered
		.footer-link.text-right.right
			+link('Mentions Légales').active
			+link('Nous contacter')
