header#header
  .grid
    //- +listLink([{title: 'Salut <span>Steven</span>!'}, {title: 'Logout'}]).account-list
    nav.menu
      +nav([{title: 'Accueil', href: 'index.html'}, {title: 'Atualities', href: '#'}, {title: 'Nos annonces', href: 'annonces.html'}, {title: 'Nos prestation', href: '#'}, {title: 'Votre espace', href: '#'}, {title: 'Nous Contacter', href: '#'}])
    +imgLink('Martel', 'images/upload/logo.png', 'index.html').logo
