.heading
  .group
    .price.right.text-right
      p pricer fra
      strong 735.000&euro;
    .title-1
      h2 Appartment 4 pie2ces
      .info 90
        span.text-lowercase m
          sup 2
        | - Paris 10ème
  .contact
    span.name Agency name
    span.tel Tel: 01 53 24 14 18
  .list-link
    +listLink([{title: 'mail', href: 'jmailto:abc@gmail.com?subject="Subject Martel"&content="Content Martel"', attr: {class: 'wi-icon icon-mail'}}, {title: 'print', href: 'javascript:window.print()', attr: {class: 'wi-icon icon-print'}}]).icon-link.right
    +listLink([{title: 'Ajouter à mes favorite', href: 'javascript:void(0);', attr: {class: 'link-1'}}, {title: 'Interresé', href: 'javascript:void(0);', attr: {class: 'link-1'}}]).link