header#header
  .header-overlayer
  .container.clearfix
    .header-mask
      .block-contact-info
        +link('Mon compte', '#', 'Mon compte<i class="fa fa-user"></i>').link-mon-compote
        +link('NOS BROCHURES').link-nos-brochures
        +link('0820 220 305', '#', '0820 220 305<i class="fa fa-phone"></i>').phone
    .row
      .col-sm-12
        .columns
          .logo
            +imgLink('Le Atelies Du Voyaga', 'images/logo.png', 'index.html')
        .columns.menu
          .nav-collapsed
            .span.icon-bar
          .navigation
            +nav([{title: 'VOYAGE', href: 'index.html', text: 'VOYAGE<span>SUR-MESURE</span>'}, {title: 'Atualities', href: '#'}, {title: 'Nos annonces', href: 'annonces.html'}, {title: 'Nos prestation', href: '#'}, {title: 'Votre espace', href: '#'}, {title: 'Nous Contacter', href: '#'}])
