.section.section-nos-conseillers
  .container-fluid
    .introduction-text
      .row
        .col-md-12
          h2.title-section
            span Recommandé PAR Nos conseillers
          .editor-content