.slides-1.favorite-slides(data-home-animation)
  .item
    +thumbnail({src:'images/upload/photo-9.jpg', alt:'photo-9', title: 'Lorem Ipsum is simply dummy text of the printing', price: '735000', desc: '4 pièces - 90m2 - Paris 10eme', attr: {class: 'thumb'}})
  .item
    +thumbnail({src:'images/upload/photo-10.jpg', alt:'photo-10', title: 'Lorem Ipsum is simply dummy text of the printing', price: '735000', desc: '4 pièces - 90m2 - Paris 10eme', attr: {class: 'thumb'}})
  .item
    +thumbnail({src:'images/upload/photo-9.jpg', alt:'photo-9', title: 'Lorem Ipsum is simply dummy text of the printing', price: '735000', desc: '4 pièces - 90m2 - Paris 10eme', attr: {class: 'thumb'}})