.slideshow.effect6(data-slideshow, data-thumbnails)
  .preview
    .slides
      .item(data-thumbnails-url='images/upload/photo-small-1.jpg')
        +img('photo-1', 'images/upload/photo-preview-1.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-2.jpg')
        +img('photo-2', 'images/upload/photo-preview-2.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-3.jpg')
        +img('photo-3', 'images/upload/photo-preview-3.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-4.jpg')
        +img('photo-3', 'images/upload/photo-preview-5.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-5.jpg')
        +img('photo-3', 'images/upload/photo-preview-3.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-1.jpg')
        +img('photo-3', 'images/upload/photo-preview-5.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-2.jpg')
        +img('photo-3', 'images/upload/photo-preview-3.jpg')
      .item(data-thumbnails-url='images/upload/photo-small-3.jpg')
        +img('photo-3', 'images/upload/photo-preview-5.jpg')
    +link('Next').wi-icon.wi-icon-next-big
    +link('Prev').wi-icon.wi-icon-prev-big