.section.section-slider-full
  .section-owlcarousel-full
    .item
      +img('Slide 1', 'images/slider-1.jpg')
      .caption-slider
        .container-fluid.clearfix
          .row
            .col-md-12
              .block-info
                .text-small
                  span inspiration a personnaliser
                .text-big
                  span.color-white sur les terres
                  span.color-black de Gandhitemperature
          .row
            .col-md-6.hidden-sm
              +temperature('15°', '18:30', '8 H', 'Asie')
          .row
            .col-md-12
              .block-button
                +link('composez votre voyage').btn-1
                +link('NOS séjours en inde').btn-2
    .item
      +img('Slide 1', 'images/slider-1.jpg')
      .caption-slider
        .container-fluid.clearfix
          .row
            .col-md-12
              .block-info
                .text-small
                  span inspiration a personnaliser
                .text-big
                  span.color-white sur les terres
                  span.color-black de Gandhitemperature
                .temperature
                  span 15°
                  span 18:30
                  span 8 H
                  span Asie
              .block-button
                +link('composez votre voyage').btn-1
                +link('NOS séjours en inde').btn-2
    .item
      +img('Slide 1', 'images/slider-1.jpg')
      .caption-slider
        .container-fluid.clearfix
          .row
            .col-md-12
              .block-info
                .text-small
                  span inspiration a personnaliser
                .text-big
                  span.color-white sur les terres
                  span.color-black de Gandhitemperature
                .temperature
                  span 15°
                  span 18:30
                  span 8 H
                  span Asie
              .block-button
                +link('composez votre voyage').btn-1
                +link('NOS séjours en inde').btn-2