.section.section-team
  .container-fluid
    .introduction-text
      .row
        .col-md-12
          h2.title-section
            span nos voyageurs experts
          .editor-content
            p Parce que depuis 20 ans, nos conseillers conjuguent leur parfaite maitrise du voyage sur-mesure à leur connaissance approfondie de nos destinations, pour vous faire vivre une expérience aussi unique qu'enrichissante, en respectant le moindre de vos désirs.
  .section-owlcarousel-item
    .container-fluid
      .row
        .col-md-12.owlcarousel-content
          .item
            +img('slider 1', 'images/team-1.png')
            .title Sophie BISS
            .sub-title Conseillère spécialiste de l’Asie du sud-est
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').gp
                i.fa.fa-google
          .item
            +img('slider 2', 'images/team-2.png')
            .title Anaïs VELASQUEZ
            .sub-title Conseillère spécialiste de l’Asie
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').blog
                i.fa.fa-bold
          .item
            +img('slider 3', 'images/team-3.png')
            .title Marjorie DUMONT
            .sub-title Conseillère spécialiste de l’Afrique
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').tw
                i.fa.fa-twitter
          .item
            +img('slider 4', 'images/team-4.png')
            .title Matthieu Mariotti
            .sub-title Conseillère spécialiste Amérique Latine
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').tw
                i.fa.fa-twitter
          .item
            +img('slider 5', 'images/team-5.png')
            .title Aurélie Robert
            .sub-title Conseillère spécialiste de l’Asie
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').tw
                i.fa.fa-twitter
          .item
            +img('slider 6', 'images/team-6.png')
            .title Cécile Thiercellin
            .sub-title Conseillère spécialiste de l’Amérique Latine
            .desc Lorem ipsum dolor sit amet,adipiscing fezelit. consectetur tortor, zefet interdum libero. Morbi sodales
            .link-contact 
              +link('Contacter')
            .link-social
              +link('Contacter').fb
                i.fa.fa-facebook
              +link('').tw
                i.fa.fa-twitter