extends layouts/layout

block vars
  -title = 'Nos Annonces'
  -bodyClass = 'annonces'
  -menuIndex = 2

block container
  .grid: .row: .col-lg-14.col-lg-offset-1: main#main
    .row
      +breadcrumb([{item: "Accueil", href: "index.html"}, {item: "Nos Annonces", href: "annonces.html"}], 1)
    .row.content
      .col-lg-6
        include blocks/filter
      .col-lg-10
        .details-block(data-details-block)
          include blocks/slideshow
          include blocks/heading
          include blocks/description
          .loading.hidden: +img('loadmore', 'images/loading.gif')

