extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Sprite',
    link: 'template-sprite.html',
    status: 'Building structure',
    complete: '0%',
    startDate: '24/03/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Hang.Trieu, Trinh.Nguyen',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: '24/03/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Hang.Trieu, Trinh.Nguyen, Hoa.Vu',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: '01_Home.psd',
    link: 'index.html',
    status: 'checked',
    complete: '100%',
    startDate: '24/03/2015',
    endDate: '24/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen, Hang.Trieu',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'header',
    status: 'checked',
    complete: '100%',
    startDate: '24/03/2015',
    endDate: '24/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'footer',
    status: 'Checked',
    complete: '100%',
    startDate: '24/03/2015',
    endDate: '24/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'slideshow ads and list Text',
    status: 'checked',
    complete: '100%',
    startDate: '24/03/2015',
    endDate: '24/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Hang.Trieu, Hoa.Vu',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'template',
    no: 2,
    psd: '03_Annonces.psd',
    link: 'annonces.html',
    status: 'In progress',
    complete: '70%',
    startDate: '25/03/2015',
    endDate: '25/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen, Hang.Trieu',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'template structure',
    status: 'checked',
    complete: '100%',
    startDate: '25/03/2015',
    endDate: '25/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'left filter list',
    status: 'in progress',
    complete: '70%',
    startDate: '25/03/2015',
    endDate: '25/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Trinh.Nguyen, Hoa.Vu',
    checkedBy: 'An.Nvt'
  })
  +rowContent({
    class: 'task',
    comment: 'right content',
    status: 'in progress',
    complete: '70%',
    startDate: '25/03/2015',
    endDate: '25/03/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Hang.Trieu, Hoa.vu',
    checkedBy: 'An.Nvt'
  })
