mixin nav(items)
  ul
    each item, key in items
      - var active = ''
      - newText = item.title + '&nbsp;'
      - if (key === menuIndex) active = 'active'
      li(class=active)
        +link(item.title, item.href, newText)(class=item.class, data-hover="#{item.title}")
        - if (typeof(item.itemsMenu) !== 'undefined'){
          +nav(item.itemsMenu)
        - }
