include ../mixins/all

block vars
  -title = 'Site'
  -bodyClass = ''

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/print.css", media="print")
    script(src="js/modernizr.js")
  body(class=bodyClass)
    #container
      +img('Images background','images/upload/bg-1.jpg')(data-img-size).bg-full-screen
      include ../blocks/header
      block container
      include ../blocks/footer
    include ../blocks/script
    noscript JavaScript is off. Please enable to view full site.
