@media (max-width: 767px) {
  /*Header*/

  .section-slider-full .caption-slider .block-info .text-small :before, .section-slider-full .caption-slider .block-info .text-small :before,
  .section-slider-full .caption-slider .block-info .text-small :before, .section-slider-full .caption-slider .block-info .text-small :after {
    width: 30px;
  }
  .section-slider-full .caption-slider .block-info .text-small span {margin: 0;}
  .section-slider-full .caption-slider .block-button a {min-width: 245px;}

  /*Slide show*/
  .section-slider-full .owl-item img {height: 430px;}
.section-slider-full .owl-controls {display: none;}
  .section-slider-full .caption-slider .block-info .text-big {
    margin-top: 80px;
    font-size: 45px;
  }
  .section-slider-full .caption-slider .block-info .text-big > span {
    display: block;
  }
  .section-slider-full .caption-slider .block-info .text-big .color-black {
    position: static;
  }
  .section-slider-full .caption-slider .block-button {
    position: static;
    margin-top: 75px;
  }
  .section-slider-full .caption-slider .block-button a {
    display: block;
    max-width: 210px;
    margin: 0 auto;
  }
  .section-slider-full .caption-slider {
    top: 0;
    bottom: 0;
  }
  .section-slider-full .caption-slider .block-info .text-small {margin-top: 50px;}

  /*Homepage - search section*/
  .type-de-voyage-select{margin-top: 5px;}
  .section-search form {padding: 0;}
  .section-search form > div {margin-top: 0;}
  .section-search .submit {margin: 20px 0;}
  .section-search form > div .search-input input {padding-left: 20px;}
  .section-search form > div .search-input i {font-size: 15px; top: 50%; margin-top: -8px;}
  .section-search form > div .search-input {max-width: 180px; margin: 0 auto;}

  /*Footer*/
  #footer {padding-top: 35px;}
  .tel {font-size: 25px;}
    .tel a {
      display: block;
      padding: 5px 0 15px;
      border-bottom: 1px solid #4b4949;
      color: #b59759;
      text-decoration: none;}
    .tel a:hover {opacity: 0.8;}
    .tel .fa-phone {
      margin-right: 15px;
    }
  #footer .block-address .social-link {padding: 15px 0; text-align: center;}
  #footer .block-address .social-link a i {
    font-size: 30px;
  }
  #footer .block-footer-bottom {
    margin: 0;
    padding: 0;
    border: 0;
  }
  #footer .block-footer-bottom .block-link {
    padding: 5px 0;
    border-top: 1px solid #4b4949;
    border-bottom: 1px solid #4b4949;
  }
  #footer .block-footer-bottom .block-link ul {margin: 0; padding: 0;}
  #footer .block-footer-bottom .block-link li {
    position: relative;
    display: block;
    border: 0;
    padding: 10px 0;
  }
  #footer .block-footer-bottom .block-link li:last-child:after {height: 0;}
  #footer .block-footer-bottom .block-link li:after {
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: 0;
    content: '';
    width: 4px;
    height: 1px;
    background-color: #4b4949;
  }
  #footer .block-footer-bottom .block-coppyright {
    padding: 15px 0;
    font-size: 10px;
    color: #4b4949;
  }

  .title-section:before {bottom: 2px;}
  /*Homepage icon next prev*/
  .section-team .owl-controls .owl-next .icon,
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-next .icon{
    left: 22px;
  }
  .owl-controls .owl-prev .icon{
    left: 0;
  }
  .owl-controls .owl-prev .icon, .owl-controls .owl-next .icon,
  .section-nos-brochures .owl-controls .owl-prev .icon,
  .section-block-service .owl-controls .owl-prev .icon,
  .section-nos-brochures .owl-controls .owl-next .icon,
  .section-block-service .owl-controls .owl-next .icon,
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-prev .icon,
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-next .icon {
    background-repeat: no-repeat;
    background-size: 10px 30px;
    width: 10px;
    height: 30px;
    position: absolute;
  }
  .section-team .section-owlcarousel-item .owl-controls .owl-prev .icon,
  .section-team .section-owlcarousel-item .owl-controls .owl-next .icon {
    top: 80px;
  }
  .section-nos-brochures .owl-controls .owl-next .icon,
  .section-block-service .owl-controls .owl-next .icon,
  .section-nos-brochures .owl-controls .owl-prev .icon,
  .section-block-service .owl-controls .owl-prev .icon {
    top: auto;
    bottom: 90px;
  }
  .section-nos-brochures .owl-controls .owl-next .icon,
  .section-block-service .owl-controls .owl-next .icon {
    left: 22px;
    background-image: url('../images/icon-15.png');
  }
  .section-nos-brochures .owl-controls .owl-prev .icon,
  .section-block-service .owl-controls .owl-prev .icon {
    left: 0;
    background-image: url('../images/icon-14.png');
  }
  .section-vos-envies .owl-controls .owl-prev .icon,
  .section-vos-envies .owl-controls .owl-next .icon,
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-prev .icon,
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-next .icon{
    top: 50%;
    margin-top: -15px;
  }
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-prev .icon{
    left: 22px;
  }
  .section-decouvrez-aussi .slider-decouvrez-aussi .owl-controls .owl-next .icon{
    left: 12px;
  }
  .section-nos-brochures .owl-controls .owl-dots,
  .section-block-service .owl-controls .owl-dots {
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
    width: auto;
    padding: 0;
  }
  .section-nos-brochures .item .block-info .link,
  .section-block-service .item .block-info .link {
    width: 100%;
  }


} 